<!DOCTYPE html>

<html>
	<head>
		<title>Hola Mundo</title>

<style>
#gif {
	width: 250px;
	height: 250px;
}
</style>
	</head>
	<body>
		<h1>Proyecto Final U3 Ricarte</h1>

		<h2>Integrantes:</h2>
		<ul>
			<li>Almaraz Mendoza Eder Misael</li>
			<li>Chairez Martinez Hector Josue</li>
			<li>Chavez Denise Alejandra</li>
			<li>Delgado Flores Javier Armando</li>
			<li>Gutierrez Ana</li>
			<li>Peredo Castillo Abdiel Alfonso</li>
			<li>Salvador Orozco Ever</li>
			<li>Torres Ibarra Nestor</li>
		</ul>

		<div id='gif'class="tenor-gif-embed" data-postid="22237870" data-share-method="host" data-aspect-ratio="0.90625" data-width="100%"><a href="https://tenor.com/view/duck-dancing-default-dance-gif-22237870">Duck Dancing Sticker</a>from <a href="https://tenor.com/search/duck-stickers">Duck Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
	</body>
</html>

